atom-workspace {
  background: radial-gradient(yellow, green, blue) no-repeat center center #777;

  status-bar.status-bar {
    background-color: @syntax-background-color;
  }
}

.line {
  background-color: rgba(0, 0, 0, .4)
}

.lines > div:first-child > div {
  background-color: transparent !important;
}

.btn, .btn.btn-default {
  background-color: transparent;

  background-image: linear-gradient(lighten(@syntax-background-color, 15%), lighten(@syntax-background-color, 20%));

  &:hover {
    background-color: transparent;
    background-image: linear-gradient(lighten(@syntax-background-color, 30%), lighten(@syntax-background-color, 40%));
  }
}

.settings-view {
  select.form-control {
    &:hover {
      background-color: lighten(@syntax-background-color, 30%);
    }
    background-color: lighten(@syntax-background-color, 15%);

    option {
      background-color: lighten(@syntax-background-color, 5%);
    }
  }

  .package-detail .package-card, .package-card {
    &:hover {
      background-color: lighten(@syntax-background-color, 30%);
    }
    background-color: lighten(@syntax-background-color, 15%);
  }

  .config-menu .nav > li {
    &.active > a {
      &:hover {
        background-color: lighten(@syntax-background-color, 30%);
      }

      background-color: lighten(@syntax-background-color, 10%);
    }

    & > a {
      &:hover {
        background-color: @syntax-background-color;
      }
    }
  }
}

.tree-view .selected::before, .tree-view-resizer {
  background-color: @syntax-background-color;
}

.tab-bar, .tree-view, atom-panel {
  background-color: @syntax-background-color !important;
}

.close-icon {
  color: #fff;
  text-shadow: 0 0 20px black;
}

atom-panel.modal {
  &::before {
    background-color: @syntax-background-color !important;
  }

  .list-group {
    max-height: 90vh;
    background-color: transparent !important;
  }
}
.settings-view, .config-menu, .settings-view .panels, .settings-panel {
  background-color: @syntax-background-color !important;
}

background-tips .message {
  color: white;
  text-shadow: 0 0 9px black;
}
