atom-workspace {
  background: radial-gradient(yellow, green, blue) no-repeat center center #777;

  status-bar.status-bar {
    background-color: @syntax-background-color;
  }
}

.line {
  background-color: rgba(0, 0, 0, .4)
}

.tile {
  height: auto !important;
}

.tree-view .selected::before, .tree-view-resizer {
  background-color: @syntax-background-color;
}

.tab-bar, .tree-view, atom-panel {
  background-color: @syntax-background-color !important;
}

.close-icon {
  color: #fff;
  text-shadow: 0 0 20px black;
}

atom-panel.modal {
  &::before {
    background-color: @syntax-background-color !important;
  }

  .list-group {
    max-height: 90vh;
    background-color: transparent !important;
  }
}
.settings-view, .config-menu, .settings-view .panels, .settings-panel {
  background-color: @syntax-background-color !important;
}

background-tips .message {
  color: white;
  text-shadow: 0 0 9px black;
}
